@font-face {
    font-family: digital;
    src: url(../assets/fonts/DigitalNumbers-Regular.ttf);
}

@font-face {
    font-family: titan;
    src: url(../assets/fonts/TitanOne-Regular.ttf);
}

body {
    background-image: url(../assets/img/wooden-table.jpg);
}

main {
    position: fixed;
    left: 40%;
    top: 25%;

    width: 334px;
    height: 442px;
    padding: 16px 14px;
    padding-bottom: 12px;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));

    background-image: url(../assets/img/steel.jpeg);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#calc-display {
    width: 308px;
    height: 74px;
    padding: 8px;
    margin: 4%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    font-family: digital;

    background-color: #D5DED0;
    border: 1px solid rgba(110, 114, 126, 0.75);
    box-sizing: border-box;

    text-align: right;
    vertical-align: bottom;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#result {
    font-size: x-large;
}

#calc-keyboard {
    width: 308px;
    height: auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 16px;
    justify-self: center;
}

#calc-keyboard > button {
    font-family: titan;
    padding: 0px 12px;


    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    font-size: 30pt;

    background: radial-gradient(50% 50% at 50% 50%,
            rgba(73, 72, 47, 0.3) 10.42%,
            rgba(255, 255, 255, 0) 35.73%,
            rgba(0, 0, 0, 0.05) 100%), #F6F6F6;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

#calc-keyboard > button#all-clear {
    font-size: 18pt;
}

#calc-keyboard > button#add {
    grid-column: 4;
    grid-row: 3/5;

    align-items: left;
    height: 122px;
}

#calc-keyboard > button#equals {
    grid-column: 3/5;
    justify-content: right;
    padding-right: 22px;
    width: auto;
}

#calc-keyboard > button#backspace {
    font-weight: 900;
}